# Unreal Engine common
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.user
*.userprefs
*.pdb
*.ipch
*.aps
*.tmp
*.log

# Packaging output
Package/
PackagedBuilds/
*.pak
*.ucas
*.utoc
